/* 
Etiqueta Normal = Nada
Etiqueta Universal = *
Etiqueta Id = #
Etiqueta class = .
*/

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(206, 191, 177, 0.904);
}
h1{
    color: rgb(38, 79, 155);
}

h2{
    color: cornflowerblue;
    margin-left: 0%;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    background-color: rgba(128, 128, 128, 0.527);
    width: 80%;
    margin: 0px auto; 
    box-shadow: 0px 0px 10px 10px gray;
    border: 1px solid blueviolet;
}

#header{
    background-color: rgb(211, 199, 199);
    height: 145px;
}

#imagen{
    width: 130px;
    height: 130px;
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#imagen img{
    float: left;
}

#menu{
    clear: both;
    background-color: rgb(215, 176, 216);
    border-bottom: 4px solid rgb(93, 39, 143);
    height: 55px;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(0, 0, 0);
}

#menu a{
    display: block;
    color: rgb(1, 4, 19);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms ease-in-out;
}

#menu a:hover{
    background-color: rgb(93, 39, 143);
    color: white;
}